@media screen and (min-width:1401px){.row{margin:0;}
.about-me .bio-inner{padding:70px 30px;}
.about-me .profile-image h2{font-size:96px;}
.about-me .profile-image h3:before{left:180px;}
.about-me .profile-image h3{font-size:21px;line-height:1.8em;}
.portfolio-container{padding:50px 200px;}
.portfolio-items figure{max-width:none;}
.portfolio-items figure.effect-roxy h2{padding:30% 0 10px 5px;font-size:1.5em;}
.portfolio-items figure p{font-size:68.5%;letter-spacing:1px;}
.social-profiles{margin-left:36em;}
}
@media screen and (min-width:1024px){.page-container .page-close{background-image:url("../img/icon-close-desktop.svg");}
.page-container .page-scroll{background-image:url("../img/icon-arrow-desktop.svg");}
.page-container .single-page::after{background-attachment:fixed;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-webkit-transition:-webkit-transform 0.8s, opacity .5s;-moz-transition:-moz-transform 0.8s, opacity .5s;transition:transform 0.8s, opacity .5s}
.page-container .single-page.is-loaded::after{opacity:0.15;}
.no-touch .page-container .single-page:hover::after,
.page-container .single-page.is-full-width.is-loaded::after{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.social .social-profiles{margin-left:33em;}
}
@media screen and (max-width:1024px){.page-title h2{font-size:1.25em;}
.page-title p{font-size:14px;}
.about-me .profile-image{padding:40px 20px;}
.about-me .profile-image h3:before{left:105px;}
.about-me .bio p{font-size:14px;}
.about-me .bio-inner{padding:40px 20px;position:absolute;}
.education ul li p{padding-left:50px;}
.employment ul li p{padding-right:50px;}
.portfolio-container{padding:50px 10px;}
.social-profiles{margin-left:23em;}
}
@media screen and (max-width:900px){.about-me .profile-image h2{font-size:54px;}
.about-me .profile-image h3{font-size:14px;}
.about-me .profile-image h3:before{left:52px;}
.about-me .bio{padding:0;}
.about-me .bio p{font-size:13px;}
.about-me .bio-inner{background:none repeat scroll 0 0 rgba(255, 255, 255, 0.65);height:100%;min-height:560px;left:0;padding:40px 20px;position:relative;top:0;width:100%;}
.portfolio-items figure img{opacity:0.4;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.portfolio-items figure.effect-roxy p{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.project-url.btn{background:#3f3f46;text-transform:uppercase;color:#fff;border-color:#3f3f46}
.project-url.btn:after{right:30px;}
#myCanvasContainer{margin-left:-62px}
.address{float:none;min-height:250px;position:relative;width:100%;overflow:hidden;}
.address:after{border:none;}
.location img{width:40px;}
.location h4{}
.social .social-profiles{margin-left:15em;}
}
@media screen and (max-width:767px){.is-full-width .page-title{box-shadow:none;}
.page-title span{display:none;}
.page-title span i{font-size:1.5em;box-shadow:0 0 0 20px transparent;}
.menu-desc{opacity:1!important;}
.page-title h2{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);line-height:100;margin:auto;}
.page-title p{display:none;}
.is-full-width .page-title span{display:block;}
.is-full-width .page-title h2{background:none;line-height:1.5em;margin:auto;}
.is-full-width .page-title p{display:block;}
.about-me{padding:0;}
.about-me .profile-image{width:100%;padding:20px;min-height:200px;}
.about-me .bio{width:100%;min-height:0;padding:0;}
.about-me .bio-inner{min-height:0;padding:40px 0;}
.about-me .bio h3{font-size:16px;line-height:20px;padding:0 10px;text-align:center;}
.about-me .bio p{font-size:14px;padding:0 10px;}
.footer{padding:20px 10px;}
.resume{padding:20px 0;}
.resume .sec-divider{margin:10px auto 0;}
.resume .education h2,
.resume .employment h2{font-size:16px;padding:15px 0;}
.education ul li h3,
.employment ul li h3{font-size:14px;}
.education ul li h4,
.employment ul li h4{font-size:13px;padding:0;}
.resume .education{padding-left:5px;padding-right:20px;}
.resume .employment{padding-left:20px;padding-right:5px;}
.education ul li p{padding-left:20px;}
.portfolio-items figure.effect-roxy figcaption{padding:2em;}
.white-popup{max-width:95%;}
.project-title{font-size:16px;}
.project-desc{font-size:13px;}
.contact .sec-divider{margin:20px auto;}
.contact .section-title{font-size:24px;padding:10px;}
.address{padding:60px 0;}
.footer a{font-size:11px;padding-right:10px;}
.footer span{font-size:10px;margin-left:5px;}
}
@media screen and (max-width:479px){.about-me .profile-image{padding:20px;width:100%;}
.about-me .profile-image .name{margin-top:2em;}
.about-me .profile-image h3:before{left:84px;}
.about-me .bio-inner .bio-col{margin-top:2em;}
.about-me .bio h3{margin-top:5px;}
.skill-opt1{display:block;}
.skill-opt2{display:none;}
.resume .skills h2,{font-size:13px;}
.skills ul li h3,{font-size:12px;}
.education ul li h4,
.employment ul li h4{font-size:12px;line-height:12px;margin:0;}
.education ul li p{padding-left:5px;}
.employment ul li p{padding-right:5px;}
.education ul li span,
.employment ul li span{font-size:12px;}
.education ul li p,
.employment ul li p{font-size:13px;line-height:22px;}
.social .social-profiles{margin-left:6em;}
.social-profiles ul li a i{font-size:18px;height:36px;line-height:36px;width:36px;}
.address{min-height:240px;padding:0;}
}
@media screen and (max-width:375px){.social .social-profiles{margin-left:4em;}
}
@media screen and (max-width:320px){.pp-container{width:160px;}
.about-me .profile-image h3:before{left:45px;}
.about-me .bio h3{font-size:16px;line-height:24px;text-align:center;}
.about-me .bio p{font-size:13px;padding:0 5px;}
.footer a{font-size:10px;}
.resume .education h2,
.resume .employment h2{font-size:11px;}
.education ul li h3,
.employment ul li h3{font-size:15px;line-height:18px;}
.education ul li h4,
.employment ul li h4{font-size:11px;}
.education ul li p{padding-left:10px;}
.portfolio-items figure{max-height:360px;max-width:300px;min-width:270px;}
.location img{width:36px;}
.location h4{}
}
@media screen and (-webkit-min-device-pixel-ratio:0){.page-container .single-page::after{background-attachment:inherit;}
}