/*
#head-line{
  background-image:  url("../imgs/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  height: 100px;
    width: 100%;
}
*/

.center_wrapper {
  margin:  0 auto;
  width: 995px;
}
.cont{
  height: 300px;
    width: 100%;
  background-size:cover;
  background-image: url('../imgs/header.jpg');
  background-repeat:  no-repeat;
  overflow : hidden;
    
}
.nav{
  height: 40px;
  margin-top: 105px;
  border:0;
  overflow: hidden;
    position: fixed
}
.header {

}
.page-title {
  float: left;
  padding:  20px 0 0 235px;
}
.page-title h1 {
	font: normal 2.8em Verdana,sans-serif;
	height: 41px;
	line-height: 41px;
}

#logo  {
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-style: italic;
}
#tagline {
  color: #000;
  font-size: 30px;
  font-family: 'Zilla Slab Highlight', cursive;

}
.intro h1{
  line-height: .95;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 200px;
  margin-top:  250px;
}
#navigation {
  position: absolute;
  top: 133px;

}
#navigation ul li, #navigation li {
  list-style-type: none;
  display: inline;
  color: white;
}
#navigation ul li:hover, #navigation li:hover {
  list-style-type: none;
  display: inline;
  color: #f8f8f8;
  text-transform: capitalize;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-family: cmmi10;
  background: red;
}
.menu {
  padding-bottom: 100px;
}
#navigation a {
  border-left: 10px solid #333;
  color:  white;
  float: left;
  margin-right: 10px;
  margin-top: 1px;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  z-index: auto;
}

img{
    
    width:  300px;
}
}
#contacts{
  height: 500px;
}
.contacts-css{
  opacity: 0.87;
  background-color: #d9d9d9;
  border: solid black;
  height: 700px;
  border-radius: 10.5px;
}
#doc_image {
  position: relative;
  margin-bottom: 12px;
  text-align: left;
}
#doc_cont{
  padding-right: 121px;
  position: relative;
}
